html {
font-size: 20px;
Font-family: Noto Sans HK', sans-serif;

}
h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;    
  line-height: 1.5; /*высота линий (межстрочный интервал)*/
  letter-spacing: 1px; /*межбуквенное растояние*/
}

html {
background-color: #D4D7D7;
}

body {
  width: 960px;
  margin: 0 auto;
  background-color: #AAFD9A;
 padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #D4D7D7;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}